.pago-realizado {
  --background: none;
  background: url('/assets/images/fondo.png') no-repeat center center/cover;
}

.pago-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.check-icon {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.pago-text {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: white;
}

.boton-volver {
  background-color: #7C3AED;
  color: white;
  padding: 12px 28px;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-volver:hover {
  background-color: #6a25dc;
}

@media (max-width: 768px) {
  .check-icon {
    width: 70px;
    height: 70px;
  }

  .pago-text {
    font-size: 1.5rem;
  }

  .boton-volver {
    padding: 10px 20px;
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .check-icon {
    width: 60px;
    height: 60px;
  }

  .pago-text {
    font-size: 1.3rem;
  }

  .boton-volver {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}
