ion-content {
  --background: linear-gradient(to bottom, #0f0f1a, #1a1a2e);
}

ion-toolbar {
  --background: #0f0f1a;
  --color: #ffffff;
}

ion-title {
  color: #ffffff;
  font-weight: bold;
}

.historial-title {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

.historial-title h1 {
  font-size: 26px;
  font-weight: bold;
  color: #ffffff;
  align-content: center;
}
.calendar-container {
  background-color: #1e1e2e;
  padding: 20px;
  border-radius: 16px;
  max-width: 800px;
  margin: 30px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  color: #ffffff;
}

.fc {
  background-color: transparent;
  color: #ffffff;
}

.fc .fc-toolbar-title {
  color: #ffffff;
}

.fc .fc-daygrid-day-number {
  color: #ffffff;
}

.fc-event {
  background-color: #7C3AED;
  border: none;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 12px;
}

