.btn-logout {
  position: fixed;
  top: calc(env(safe-area-inset-top) + 10px);
  right: calc(env(safe-area-inset-right) + 10px);
  z-index: 1000;

  background: #dc2626;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 0 14px;
  height: 45px;
  display: flex; align-items: center; gap: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,.3);
  font-weight: 700; letter-spacing: .3px; white-space: nowrap;
}

.logout-fab {
  margin-top: calc(env(safe-area-inset-top) + 8px);
  margin-right: calc(env(safe-area-inset-right) + 8px);
  z-index: 1000;
}
.admin-fab{
  --color:white;
  margin-top: calc(env(safe-area-inset-top) + 8px);
  margin-right: calc(env(safe-area-inset-right) + 8px);
  z-index: 1000;
}

@media (min-width: 768px) {
  .logout-fab {
    display: none;
  }
}
@media (max-width: 768px) {
  .btn-logout {
    display: none;
  }
}

@media (max-width: 480px) {
  .btn-logout {
    height: 40px;
    padding: 0 10px;
    border-radius: 20px;
    font-size: .9rem;
  }
  .btn-logout::before { content: " "; } 
  .btn-logout ion-icon { font-size: 1.2rem; }
  .btn-logout { gap: 0; }
}
