

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="form-container">
    <h1>Reportar un problema</h1>
    <form [formGroup]="inconvenientesForm" (ngSubmit)="notificar()">
    <div class="input-group">
      <input type="text" formControlName="nombre_inconveniente" placeholder="Asunto" class="input" />
    </div>

    <div class="input-group">
      <textarea formControlName="descripcion" placeholder="Descripción del problema..." class="textarea"></textarea>
    </div>

    <ion-button expand="block" type="submit">Enviar queja</ion-button>
  </form>
  </div>

</ion-content>
