
.compra-container {
  --background: #0f0f17;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compra-card {
  background-color: #1b1c25;
  padding: 2rem;
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
  margin: 2rem auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

label {
  font-weight: bold;
  margin-top: 1rem;
  display: block;
}

ion-select,
ion-input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  background-color: #2c2e3a;
  --color: white;
  --placeholder-color: #aaa;
  border-radius: 10px;
}

.fechas {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 1rem 0;
}

.fecha-btn {
  background-color: #2c2e3a;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.fecha-btn.activa {
  background-color: #7C3AED;
}

.fecha-btn:hover {
  background-color: #5b2cba;
}

.metodos-pago {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem 0;
}

.metodos-pago img {
  width: 100px;
  height: 50px;
  object-fit: contain;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 8px;
  padding: 5px;
}

.metodos-pago img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #7C3AED;
}

.metodos-pago img.seleccionado {
  border: 2px solid #7C3AED;
}

.boton-finalizar {
  --background: linear-gradient(90deg, #7C3AED 0%, #9333EA 100%);
  --background-activated: linear-gradient(90deg, #6D28D9 0%, #7C3AED 100%);
  --background-focused: linear-gradient(90deg, #6D28D9 0%, #7C3AED 100%);
  --background-hover: linear-gradient(90deg, #6D28D9 0%, #7C3AED 100%);
  --color: white;
  --border-radius: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 48px;
  box-shadow: 0 4px 12px rgba(124, 58, 237, 0.6);
  transition: transform 0.2s ease-in-out;
}

.boton-finalizar:active {
  transform: scale(0.97);
}

ion-button.boton-finalizar[disabled] {
  opacity: 0.6;
  background: linear-gradient(90deg, #7C3AED 0%, #9333EA 100%) !important;
}


@media (max-width: 768px) {
  .compra-card, .register-box, .login-box, .start-container, .eventos-section .card {
    width: 95% !important;
    margin: auto;
    font-size: 14px;
  }

  .eventos-section .fila-eventos {
    flex-direction: column;
    align-items: center;
  }

  .eventos-section .card img {
    width: 100% !important;
    height: auto;
  }

  ion-input, ion-button, .fecha-btn, .boton-finalizar {
    font-size: 14px;
  }

  h1, h2, h3 {
    font-size: 18px !important;
  }

  .btn-ticket {
    width: 90%;
    margin: 8px auto;
    padding: 10px;
    font-size: 14px;
  }
}