:host {
  ion-content {
    --background: #0a0a0a;
  }
}

.cancelar-container {
  max-width: 450px;
  width: 90%;
  margin: auto;
  margin-top: 5vh;
  padding: 2rem;
  background-color: #111;
  border-radius: 20px;
  box-shadow: 0 0 25px #7c3aed;
  color: white;
  text-align: center;
}

ion-item {
  background-color: #1e1e1e;
  border-radius: 10px;
  margin-top: 1rem;
  --highlight-color-focused: #7c3aed;
  --color: white;
}

ion-label {
  color: #ccc;
}

ion-select,
ion-textarea {
  color: white;
}

ion-button {
  margin-top: 2rem;
  --background: #e11d48;
  --border-radius: 10px;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .cancelar-container {
    padding: 1rem;
    margin-top: 2vh;
  }
}
